@{
    ViewData["Title"] = "Банк Arion";
}

<!-- Start page -->

    <div class="page">
        <div class="container">
            <div class="header-page text-center">
                <h3>ОНЛАЙН-БАНК ARION</h3>
                <h1>Карты банка</h1>
            </div>
            <div class="row details margin-top-card">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-11">
                            <h2>Дебетовая карты</h2>
                            <h4 class="mt-3 fw-light">Дебетовая банковская карта выполняет роль личного счета, на
                                котором хранятся деньги ее
                                обладателя. На неё может, например, перечисляться заработная плата, а сумма снятия
                                ограничена
                                лимитом имеющихся на счету средств. Также на счет такой карты можно зачислять деньги и
                                снимать
                                наличные, ею можно оплачивать покупки в интернете и в магазинах, принимающих оплату
                                онлайн. А
                                также переводить средства в другие банки через смс, мобильное приложение или личный
                                кабинет на
                                сайте.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-11">
                            <h2>Кредитная карты</h2>
                            <h4 class="mt-3 fw-light">Кредиткой тоже можно оплачивать покупки и снимать наличные в
                                банкоматах
                                или самом банке. Но при
                                этом такая карта дает больше финансовой свободы для ее обладателя: она позволяет
                                путешествовать,
                                приобретать желанные вещи и подарки даже тогда, когда у вас нет собственных денег. Как?
                                За счет
                                суммы, одолженной вам банком.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center margin-top-card">
                <div class="col-md-6 text-center mx-auto">
                    <img src="~/img/card-1.png" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="mb-3">Дебетовая карты</h2>
                    <div class="row col-8 mb-5 mx-auto">
                        <div class="col-md-6">
                            <h1>0₽</h1>
                            <h5 class="fw-light">1 год бесплатного обслуживания</h5>
                        </div>
                        <div class="col-md-6">
                            <h1>2%</h1>
                            <h5 class="fw-light">кэшбэк на все покупки</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="https://localhost:7265/">
                                <button class="btn col-5 btn-custom">Оформить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="margin-top-card">

            <div class="row align-items-center margin-top-card">
                <div class="col-md-6 text-center mx-auto">
                    <img src="~/img/card-2.png" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="mb-3">Кредитная карты</h2>
                    <div class="row col-8 mb-5 mx-auto">
                        <div class="col-md-6">
                            <h1>0₽</h1>
                            <h5 class="fw-light">бесплатное обслуживание</h5>
                        </div>
                        <div class="col-md-6">
                            <h1>0%</h1>
                            <h5 class="fw-light">3 месяца без процентов</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="https://localhost:7265/">
                                <button class="btn col-5 btn-custom">Оформить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- End page -->
