@{
    ViewData["Title"] = "Банк Arion";
}


<!-- Start page -->

    <div class="page">
        <div class="container contact">
            <div class="header-page text-center">
                <h3>ОНЛАЙН-БАНК ARION</h3>
                <h1>Контактная информация</h1>
            </div>
            <div class="row margin-top">
                <div class="col-md-6">
                    <h2>Кредитные карты</h2>
                    <div class="row mt-4">
                        <div class="col-6">
                            <h4>Кредитная карта</h4>
                            <h4>Оформить карту</h4>
                            <h4>Электронная почта</h4>
                        </div>
                        <div class="col-6 violet-text">
                            <h4>8-996-930-88-99</h4>
                            <h4>8-996-930-88-90</h4>
                            <h4>CreditArion@gmail.com</h4>
                        </div>
                    </div>
                    <h2>Инвестиции</h2>
                    <div class="row mt-4">
                        <div class="col-6">
                            <h4>Вопросы</h4>
                            <h4>Электронная почта</h4>
                            <h4>Электронная почта</h4>
                        </div>
                        <div class="col-6 violet-text">
                            <h4>8-996-930-88-70</h4>
                            <h4>8-996-930-88-90</h4>
                            <h4>InvestArion@gmail.com</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 bd">
                    <div class="row col-md-10 float-end">
                        <h2>Офис банка</h2>
                        <div class="row mt-3">
                            <div class="col-6">
                                <h4>Адрес</h4>
                                <h4>Факс</h4>
                                <h4>Пресс-служба</h4>
                                <h4>Для обращений судов</h4>
                                <h4>Для нотариальных запросов</h4>
                            </div>
                            <div class="col-6 violet-text">
                                <h4>г. Кострома, ул. Симановского, д. 32г</h4>
                                <h4>8-996-930-88-88</h4>
                                <h4>ArionBank@gamil.com</h4>
                                <h4>LegalAB@gmail.com</h4>
                                <h4>ReportsAB@gmail.com</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End page -->