@{
    ViewData["Title"] = "Банк Arion";
}

<!-- Start page -->

    <div class="page">
        <div class="container">
            <div class="header-page text-center">
                <h3>ОНЛАЙН-БАНК ARION</h3>
                <h1>Кредит</h1>
            </div>
            <div class="row align-items-center details">
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <h2 class="mb-4">Оформляйте кредит в банке Arion</h2>
                            <h4>Оформите кред до 1 января 2022 — и не платите проценты 6 месяцов</h4>
                            <div class="row text-lg-center advetage">
                                <div class="col-lg-4">
                                    <p>От 25 000 ₽</p>
                                </div>
                                <div class="col-lg-4">
                                    <p>6 месяцев без %</p>
                                </div>
                                <div class="col-lg-4">
                                    <p>От 13%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-margin col-lg-6 mx-auto">
                        <form action="https://localhost:7265/">
                        <button class="btn btn-custom">Оформить</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row col-lg-11">
                        <img src="~/img/man.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End page -->