@{
    ViewData["Title"] = "Банк Arion";
}

<!-- Start page -->

    <div class="page">
        <div class="container">
            <div class="header-page text-center">
                <h3>ОНЛАЙН-БАНК ARION</h3>
                <h1>Обратная свзяь</h1>
            </div>
            <div style="margin-top:60px;" class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Заполните поля</h5>
                            <form action="Index" method="post">
                                <div class="form-group mt-3">
                                    <input type="phone" name="phone" class="form-control" id="name"
                                        placeholder="Номер телефона">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="email" name="email" class="form-control" id="name"
                                        placeholder="Ваш email">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="name" name="name" class="form-control" id="email1" placeholder="Имя">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="surname" name="surname" class="form-control" id="phone"
                                        placeholder="Фамилия">
                                </div>
                                <div class="form-group mt-4">
                                    <textarea class="form-control" name="proble" rows="3"
                                        placeholder="Опишите проблему"></textarea>
                                </div>
                                <button type="submit" class="btn btn-custom mt-4 col-md-5">Отправить</button>
                            </form>
                        </div>
                        <div class="col-md-4"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row align-items-center">
                        <div class="col-lg-4 text-center">
                            <img class="mr-tp" src="~/img/logo-2.png" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h1 class="violet-text">Банк ARION</h1>
                            <h3 class="feed-text">Храните деньги в правильном месте</h3>
                        </div>
                    </div>
                    <div class="row col-lg-8 mx-auto list">
                        <h2 style="font-size: 20px; margin-top: 40px;">Оформляйте кредит и получайте</h2>
                        <ul class="col-lg-112s" style="padding-left: 50px">
                            <li><span>Кредит до 15% годовых</span></li>
                            <li><span>Бесплатное обслуживание в течение года</span></li>
                            <li><span>Большое количество скидок и кэшбэков</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- End page -->