@{
    ViewData["Title"] = "Банк Arion";
}

 <!-- Start section-1-head -->

    <div class="bd-masthead bg-black unselectable">
        <div class="container px-4 px-md-3">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="md-3">
                        <h1 class="mb-1 head-text-1">ИНТЕРНЕТ-БАНК</h1>
                        <h1 class="mb-4 head-text-2">ARION</h1>
                        <p class="mb-4 head-p">Откывайте счет, он позволяет не только хранить на нем
                            деньги, но и оплачивать покупки и услуги, делать переводы людям и организациям.</p>
                    </div>
                    <div class="d-flex flex-column flex-md-row">
                        <form action="https://localhost:7265/">
                        <button class="btn btn-reg" type="submit">Регистрация</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="float-lg-end">
                        <div class="row">
                            <img src="~/img/—Pngtree—financial management mobile banking revenue_5780265 1.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End section-1-head -->

    <!-- Start banner-text -->

    <div class="banner banner-gray banner-1 unselectable">
        <div class="container">
            <div class="row col-lg-6 mx-auto text-center">
                <h3 class="mb-1 min-header">
                    ОНЛАЙН-БАНК ARION
                </h3>
                <h1 class="detail-header">
                    Храните свои сбережения в правильном месте
                </h1>
            </div>
        </div>
    </div>

    <!-- End banner-text -->

    <!-- Start banner-1 -->

    <div class="banner">
        <div class="container">
            <div class="row col-md-12 mx-auto banner-bg unselectable">
                <div class="row col-md-8 align-items-center">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <h1 class="text-bn-1 mt-8">ОТКРЫВАЙТЕ ВКЛАД И ПОЛУЧАЙТЕ
                            ДО 8% ГОДОВЫХ</h1>
                        <h4 class="text-bn-2 mt-4">На сумму от 10 000₽</h4>
                    </div>
                </div>
                <div class="row col-lg-4">
                    <img src="~/img/hand.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- End banner-1 -->


    <!-- Start banner-2 -->

    <div class="banner banner-gray banner-2 unselectable">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="md-3">
                        <h4 class="header-tile-1">Предложение</h4>
                        <h1 class="mb-1 mt-4 header-2-tile-1">СКИДКА ДО 4% ПРИ ПОКУПКЕ ИМУЩЕСТВА</h1>
                        <p class="mb-4 mt-4 tile-p-1">Оформляйте карту банка Arion и получайте скидку на покупку
                            иущества. Карта заменяет обычный кошелек, с ней вы можете совершить любые покупки.</p>
                    </div>
                    <div class="d-flex flex-column flex-md-row mb-5 mb-lg-0">
                        <form action="https://localhost:7265/">
                            <button class="btn btn-reg" type="submit">Узнать больше</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="float-lg-end">
                        <div class="row">
                            <img src="~/img/tile-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <!-- End banner-2 -->

    <!-- Start card -->

    <div class="card-section unselectable">
        <div class="container">
            <div class="row col-12 mx-auto">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card-wrapper mx-auto">
                        <div class="text-center">
                            <img src="~/img/invest.png" alt="" width="81px" height="81px">
                            <h1 class="card-text mt-4">Оформите вклад под 2,5% годовых</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card-wrapper mx-auto">
                        <div class="text-center">
                            <img src="~/img/goldw 1.png" alt="" width="81px" height="81px">
                            <h1 class="card-text mt-4">Храните средства
                                на личном счете</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card-wrapper mx-auto">
                        <div class="text-center">
                            <img src="~/img/bank1 1.png" alt="" width="81px" height="81px">
                            <h1 class="card-text mt-4">Совершайте
                                операции в любое
                                времях</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="card-wrapper mx-auto">
                        <div class="text-center">
                            <img src="~/img/92777 1.png" alt="" width="81px" height="81px">
                            <h1 class="card-text mt-4">Оплачивайте покупки картой</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- End card -->

    <!-- Start banner-3 -->

    <div class="banner-gray banner-2 unselectable">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-5">
                    <div class="float-lg-end">
                        <div class="row">
                            <img src="~/img/tile-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="md-3">
                        <h4 class="header-tile-1">Предложение</h4>
                        <h1 class="mb-1 mt-4 header-2-tile-1">ПОСТАВЬТЕ ЦЕЛЬ В ПРИЛОЖЕНИИ БАНКА ARION</h1>
                        <p class="mb-4 mt-4 tile-p-1">Поставить перед собой цель – это значит заглянуть в будущее,
                            сконцетрировать свое внимание и силы на то, что должно быть достигнуто.</p>
                    </div>
                    <div class="d-flex flex-column flex-md-row mb-5 mb-lg-0">
                        <form action="https://localhost:7265/">
                            <button class="btn btn-reg" type="submit">Узнать больше</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <!-- End banner-3 -->

    <!-- Start banner-4 -->

    <div class="banner-gr unselectable">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 lg-2">
                    <img src="~/img/ccp-1.png" alt="">
                </div>
                <div class="col-lg-7">
                    <h1 class="text-bn-1">КРЕДИТ НА КАРТУ ОТ 13% </h1>
                    <h3 class="text-bn-2 mt-3">Заяка рассматривается в течение 2-х дней</h3>
                    <form action="https://localhost:7265/">
                        <button class="btn btn-order mt-3" type="submit">Оформить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- End banner-4 -->

    <!-- Start banner-5 -->

    <div class="banner-gray banner-2 unselectable">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="md-3">
                        <h4 class="header-tile-1">Предложение</h4>
                        <h1 class="mb-1 mt-4 header-2-tile-1">УСПЕЙТЕ ОФОРМИТЬ КРЕДИТ ДО    1 ЯНВАРЯ 2022 ГОДА</h1>
                        <p class="mb-4 mt-4 tile-p-1">Оформляйте кредит в приложении банка Arion и Вы сможете не платить
                            проценты пол года. </p>
                    </div>
                    <div class="d-flex flex-column flex-md-row mb-5 mb-lg-0">
                        <form action="https://localhost:7265/">
                            <button class="btn btn-reg" type="submit">Узнать больше</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="float-lg-end">
                        <div class="row">
                            <img src="~/img/woman.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <!-- End banner-5 -->
