@{
    ViewData["Title"] = "Банк Arion";
} 


<!-- Start page -->

    <div class="page">
        <div class="container">
            <div class="header-page text-center">
                <h3>ОНЛАЙН-БАНК ARION</h3>
                <h1>Вклады</h1>
            </div>
            <div class="row align-items-center details">
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <h2 class="mb-4">Оформляйте вклады в банке Arion</h2>
                            <h4>Создайте счет и Вы сможете хранить свои деньги в надежных руках</h4>
                            <div class="row text-lg-center advetage">
                                <div class="col-lg-6">
                                    <p>От 10 000 ₽</p>
                                </div>
                                <div class="col-lg-6">
                                    <p>До 8% годовых</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-margin col-lg-6 mx-auto">
                        <form action="https://localhost:7265/">
                            <button class="btn btn-custom">Оформить</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row col-lg-11">
                        <img class="float-lg-start" src="~/img/instytucje-obowiązane 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End page -->
