@page "/Login";
<div class="back">
	<div class="panel col-lg-4 col-md-8 col-11">
		<div class="state"><br><img src="img/logo.png" alt=""><br><span>Авторизация</span></div>
			<div class="form">
				<input placeholder='Почта' type="text">
				<input placeholder='Пароль' type="text">
				<div class="login">Войти</div>
		</div>
	</div>
</div>