@using ArionBank.Account.Models
@using ArionBank.Account.Service.Manager
@inject IManagerService _managerService;

<nav id="navbar"  class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: space-between;">
        <div id="navbar-brand" class="navbar-barand">
            <a id="navbar-brand" class="navbar-brand" href="#">
                <img src="img/logo.png" alt="" width="46" height="46" class="d-inline-block align-text-top">
                <sapn id="company-name">Arion</sapn>
            </a>
        </div>
        <div class="person-menu d-flex align-items-center">
                <a href="21312">
                    <div class="avatar">
                        @{
                        if(avatar.Image != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(avatar.Image))" height="35" loading="lazy" />
                        }
                        else
                        {
                            <img src="img/user-avatar.png" alt="">
                        }
                }
                    </div>
                </a>
                <a style="margin-top: -2px;" id="a-color-gray" href="profile"><span class="username">@avatar.Name @avatar.Surname</span></a>
                <a style="margin-top: -2px;" href="/logout">
                    <label type="button" class="btn btn-block">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true" role="img" width="1.4em" height="1.4em"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <rect x="0" y="0" width="24" height="24" fill="none" stroke="none" />
                            <g fill="#6629B3">
                                <path
                                    d="M6 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h5a1 1 0 1 0 0-2H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h5a1 1 0 1 0 0-2H6z" />
                                <path
                                    d="M15.293 7.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L17.586 13H10a1 1 0 1 1 0-2h7.586l-2.293-2.293a1 1 0 0 1 0-1.414z" />
                            </g>
                        </svg>
                    </label>
                </a>
        </div>
</nav>

@code {
    public string Name = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private AvatarModel avatar = new AvatarModel();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        Name = user.Identity.Name;
        avatar = await _managerService.GetAvatar(Name);
    }
}